out/
.vs/
.vs/CMakeProject1/v16/.suo
.vs/CMakeProject1/v16/Browse.VC.opendb
.vs/CMakeProject1/v16/ipch/AutoPCH/67ae0179d400309/MAIN.ipch
.vs/CMakeProject1/v16/ipch/AutoPCH/c59435eed7516359/MAIN.ipch
.vs/CMakeProject1/v16/ipch/AutoPCH/ecb7d914f91068a5/BIN-IMAGE.ipch
.vs/slnx.sqlite
out/build/x64-Debug
cmake-build-debug/
id_rsa.pub
id_rsa.pub.pub
/.idea/
